# Heap Sort

## Lists in Python

In [1]:
# Lists in python don't need to be of one type
L = [1,2,3, "Hello", None, True]

In [2]:
L

[1, 2, 3, 'Hello', None, True]

In [3]:
L[3]

'Hello'

In [4]:
# You can create lists with the list() function. {} = set, which is unique values
list({1,2,3,4,5,3,3,3,3,3,3})

[1, 2, 3, 4, 5]

In [5]:
# Use negative indexes. Work the list right to left
L[-1]

True

In [6]:
# in-built functions for creating iterables.
# (Start, upTo/not incl, increments)
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
# (upTo/not incl)
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
L = list(range(20))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
# List slicing 
# [Start, upTo/not incl, increments]
L[1:10:2]

[1, 3, 5, 7, 9]

In [10]:
# List slicing 
# [Start, upTo/not incl]
L[5:10]

[5, 6, 7, 8, 9]

In [11]:
# List slicing 
# [Start] - onwards
L[5:]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
# List slicing 
# [:upTo/not incl] 
L[:5]

[0, 1, 2, 3, 4]

In [13]:
# Quick way to cycles list to the left
# shifting left, zero gets popped to the end
L[1:] + L[:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0]

In [14]:
# Tuples. Are immutable
# Tuples are created by commas.
T = 1,2,3,4

In [15]:
# You can select elements.
T[1]

2

In [16]:
# You can slice elements.
T[:3]

(1, 2, 3)

In [17]:
# Altering would give an error
# T[2] = 100

In [18]:
# You can use tuples for assingment
a, b = 3, 4

In [19]:
a

3

In [20]:
b

4

In [21]:
# List comprehension
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
# List comprehension - Changing one list to another list 
# [square the ith value and list L] - mini inside loop, handy!
[i**2 for i in L]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
# [cube the ith value and list L IF number is even]
[i**3 for i in L if i % 2 ==0]

[0, 8, 64, 216, 512]

In [24]:
# reverse the list - little trick
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

<br>

## Bubble sort

***

In [25]:
# Importing a module from a standard library
import random

In [26]:
# Create a list of ints.
L = list(range(1,11))
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
# Shuffle list
random.shuffle(L)

In [28]:
# List is shuffled
L

[10, 9, 5, 2, 8, 1, 7, 3, 4, 6]

In [29]:
# Keep track of number of comparisons.
no_comparisons = 0

# Bubble sort, outer loop ensuring correct amount of iterations.
for j in range(len(L) - 1):
    # keep track of swaps
    swapped = False
    # Bubble sort, bubble the next biggest element up the list.
    for i in range(len(L) - 1):
        # Compare the ith elements with the (i+1)th (side by side).
        if L[i] > L[i+1]:
            # if so, swap.
            # Tuple swap, from above
            L[i], L[i+1] = L[i+1], L[i]
            # keep track of swap.
            swapped = True
            # add a copmarison
        no_comparisons = no_comparisons + 1
    # if no swaps are made, break the loop
    # without this, it always iterates 81 times, 9x9, ixj etc
    if not swapped:
        break

In [30]:
# after bubble sort.
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
no_comparisons

54

In [32]:
# Bubble sort as a function
def bubble_sort(L):
    # Keep track of number of comparisons.
    no_comparisons = 0

    # Bubble sort, outer loop ensuring correct amount of iterations.
    for j in range(len(L) - 1):
        # keep track of swaps
        swapped = False
        # Bubble sort, bubble the next biggest element up the list.
        for i in range(len(L) - 1):
            # Compare the ith elements with the (i+1)th (side by side).
            if L[i] > L[i+1]:
                # if so, swap.
                # Tuple swap, from above
                L[i], L[i+1] = L[i+1], L[i]
                # keep track of swap.
                swapped = True
                # add a copmarison
            no_comparisons = no_comparisons + 1
        # if no swaps are made, break the loop
        # without this, it always iterates 81 times, 9x9, ixj etc
        if not swapped:
            break
    return no_comparisons

In [33]:
# Create a list of ints.
L = list(range(1,11))
# Shuffle
random.shuffle(L)
# Look at it
L

[2, 10, 9, 5, 7, 6, 4, 1, 3, 8]

In [34]:
# pass list L to the function
bubble_sort(L)

72

In [35]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
# Before sort bubble sort is O(n^2)
# After sort bubble sort is O(n)
bubble_sort(L)

9

<br>

# Heap Sort

***

In [53]:
def siftDown(L, parent, end):
    """L[parent:end+1] should almost be a max heap.
       siftDown repairs it so that it is one."""
    
    # Keep track of number of comparisons.
    no_comparisons = 0
    
    # while parent is actually a parent(has at least a left child).
    while 2*parent + 1 <= end:
        # The index of the left children.
        lchild = 2 * parent + 1
        rchild = 2 * parent + 2
        
        # Assume the parent is larger than the children.
        swap = parent
        
        # Is the parent smaller than the left child?
        if L[swap] < L[lchild]:
            # then swap is set to the index of the left child
            swap = lchild
            no_comparisons = no_comparisons + 1
        # check if right child exists and is smaller than L[swap].
        if rchild + 1<= end and L[swap] < L[rchild]:
            # Then swap is set to index of right child 
            swap = rchild
            no_comparisons = no_comparisons + 1
        # We have a map heap if parent is bigger than the children    
        if swap == parent:
            break
        else:
            # Swap the parent with the bigger child.
            L[parent], L[swap] = L[swap], L[parent]
            # Set parent to bigger chils index.
            parent = swap
            
    # Return number of comparisons
    return no_comparisons

In [54]:
def heapsort(L):
    """Sorts the list L in place using Heap Sort"""
    
    # Keep track of number of comparisons.
    no_comparisons = 0
    
    # Turn L into a max heap.
    
    # Index of last element on list
    lastElement = len(L) - 1
    
    # Finde the last parent. Get lengeth of list, (length -1) // 2 -  is the last parent. 
    # CAREFUL length of L is one bigger than the last index. Hence (length -2)
    lastParent = (lastElement - 1) // 2
    
    # Move backwards through the parents. 0 is the root (Start at, down to, increments)
    for parent in range(lastParent, -1, -1):
        # Sift down.
        no_comparisons = no_comparisons + siftDown(L, parent, lastElement)
    
    # Segregate the list L into two part:
    #      1. L[:end] is a max heap
    #      2. Each element beyond end is greater than everything before it.
    # While there are still elements in the heap. for (start at, down to notIncl, increments)
    for end in range(lastElement, 0, -1):
        # Move the element at index 0 with the last element.
        L[0], L[end] = L[end], L[0]
        # Fix the heap. The root is currently out of place.
        no_comparisons = no_comparisons + siftDown(L, 0, end - 1)
        
    # Return number of comparisons.
    return no_comparisons

In [55]:
L= [100,19,7,17,25,3,1,36,2]
L

[100, 19, 7, 17, 25, 3, 1, 36, 2]

In [60]:
# Show heapsort works.
heapsort(L)

19

<br>

## Comparing Algorithms

***

In [56]:
# Perform heap sort, show number of comparisons
no_comparisons = heapsort(L)
L, no_comparisons

([1, 2, 3, 7, 17, 19, 25, 36, 100], 13)

In [61]:
# Perform bubble sort, show number of comparisons
L= [100,19,7,17,25,3,1,36,2]
no_comparisons = bubble_sort(L)
L, no_comparisons

([1, 2, 3, 7, 17, 19, 25, 36, 100], 64)

In [63]:
# A module full of combinatorial functions.
import itertools

# Length of example list.
n = 5

# Loop through all permutations of the list of integers from 0 to n.
for perm in itertools.permutations(range(5)):
    L = list(perm)
    bubb_comp = bubble_sort(L)
    L = list(perm)
    heap_comp = heapsort(L)
    print(f'{perm}\t{bubb_comp}\t{heap_comp}')

(0, 1, 2, 3, 4)	4	4
(0, 1, 2, 4, 3)	8	4
(0, 1, 3, 2, 4)	8	5
(0, 1, 3, 4, 2)	12	5
(0, 1, 4, 2, 3)	8	5
(0, 1, 4, 3, 2)	12	6
(0, 2, 1, 3, 4)	8	4
(0, 2, 1, 4, 3)	8	4
(0, 2, 3, 1, 4)	12	4
(0, 2, 3, 4, 1)	16	6
(0, 2, 4, 1, 3)	12	4
(0, 2, 4, 3, 1)	16	7
(0, 3, 1, 2, 4)	8	3
(0, 3, 1, 4, 2)	12	5
(0, 3, 2, 1, 4)	12	3
(0, 3, 2, 4, 1)	16	5
(0, 3, 4, 1, 2)	12	5
(0, 3, 4, 2, 1)	16	6
(0, 4, 1, 2, 3)	8	3
(0, 4, 1, 3, 2)	12	4
(0, 4, 2, 1, 3)	12	3
(0, 4, 2, 3, 1)	16	4
(0, 4, 3, 1, 2)	12	4
(0, 4, 3, 2, 1)	16	5
(1, 0, 2, 3, 4)	8	3
(1, 0, 2, 4, 3)	8	3
(1, 0, 3, 2, 4)	8	4
(1, 0, 3, 4, 2)	12	4
(1, 0, 4, 2, 3)	8	4
(1, 0, 4, 3, 2)	12	5
(1, 2, 0, 3, 4)	12	5
(1, 2, 0, 4, 3)	12	5
(1, 2, 3, 0, 4)	16	3
(1, 2, 3, 4, 0)	16	7
(1, 2, 4, 0, 3)	16	3
(1, 2, 4, 3, 0)	16	6
(1, 3, 0, 2, 4)	12	4
(1, 3, 0, 4, 2)	12	6
(1, 3, 2, 0, 4)	16	2
(1, 3, 2, 4, 0)	16	6
(1, 3, 4, 0, 2)	16	4
(1, 3, 4, 2, 0)	16	5
(1, 4, 0, 2, 3)	12	4
(1, 4, 0, 3, 2)	12	5
(1, 4, 2, 0, 3)	16	2
(1, 4, 2, 3, 0)	16	5
(1, 4, 3, 0, 2)	16	3
(1, 4, 3, 2, 0)	16	6
(2, 0, 1, 3, 4)	8	3
(2, 0, 1, 4, 3)	8	3
(2, 0, 3, 1, 4)	12	3
(2, 0, 3, 4, 1)	16	5
(2, 0, 4, 1, 3)	12	3
(2, 0, 4, 3, 1)	16	5
(2, 1, 0, 3, 4)	12	4
(2, 1, 0, 4, 3)	12	4
(2, 1, 3, 0, 4)	16	2
(2, 1, 3, 4, 0)	16	6
(2, 1, 4, 0, 3)	16	2
(2, 1, 4, 3, 0)	16	6
(2, 3, 0, 1, 4)	12	3
(2, 3, 0, 4, 1)	16	7
(2, 3, 1, 0, 4)	16	2
(2, 3, 1, 4, 0)	16	6
(2, 3, 4, 0, 1)	16	4
(2, 3, 4, 1, 0)	16	5
(2, 4, 0, 1, 3)	12	3
(2, 4, 0, 3, 1)	16	6
(2, 4, 1, 0, 3)	16	2
(2, 4, 1, 3, 0)	16	5
(2, 4, 3, 0, 1)	16	4
(2, 4, 3, 1, 0)	16	5
(3, 0, 1, 2, 4)	8	2
(3, 0, 1, 4, 2)	12	4
(3, 0, 2, 1, 4)	12	2
(3, 0, 2, 4, 1)	16	4
(3, 0, 4, 1, 2)	12	4
(3, 0, 4, 2, 1)	16	5
(3, 1, 0, 2, 4)	12	3
(3, 1, 0, 4, 2)	12	5
(3, 1, 2, 0, 4)	16	1
(3, 1, 2, 4, 0)	16	5
(3, 1, 4, 0, 2)	16	3
(3, 1, 4, 2, 0)	16	6
(3, 2, 0, 1, 4)	12	2
(3, 2, 0, 4, 1)	16	6
(3, 2, 1, 0, 4)	16	1
(3, 2, 1, 4, 0)	16	5
(3, 2, 4, 0, 1)	16	4
(3, 2, 4, 1, 0)	16	5
(3, 4, 0, 1, 2)	12	4
(3, 4, 0, 2, 1)	16	5
(3, 4, 1, 0, 2)	16	3
(3, 4, 1, 2, 0)	16	4
(3, 4, 2, 0, 1)	16	3
(3, 4, 2, 1, 0)	16	4
(4, 0, 1, 2, 3)	8	2
(4, 0, 1, 3, 2)	12	3
(4, 0, 2, 1, 3)	12	2
(4, 0, 2, 3, 1)	16	3
(4, 0, 3, 1, 2)	12	3
(4, 0, 3, 2, 1)	16	4
(4, 1, 0, 2, 3)	12	3
(4, 1, 0, 3, 2)	12	4
(4, 1, 2, 0, 3)	16	1
(4, 1, 2, 3, 0)	16	4
(4, 1, 3, 0, 2)	16	2
(4, 1, 3, 2, 0)	16	5
(4, 2, 0, 1, 3)	12	2
(4, 2, 0, 3, 1)	16	5
(4, 2, 1, 0, 3)	16	1
(4, 2, 1, 3, 0)	16	4
(4, 2, 3, 0, 1)	16	3
(4, 2, 3, 1, 0)	16	4
(4, 3, 0, 1, 2)	12	3
(4, 3, 0, 2, 1)	16	4
(4, 3, 1, 0, 2)	16	2
(4, 3, 1, 2, 0)	16	3
(4, 3, 2, 0, 1)	16	2
(4, 3, 2, 1, 0)	16	3

In [66]:
# Pandas
# Like excel for python
import pandas as pd

In [71]:
# Length of example list.
n = 5

results = [[str(perm)[1:-1], bubble_sort(list(perm)), heapsort(list(perm))] for perm in itertools.permutations(range(n))]

In [73]:
results

[['0, 1, 2, 3, 4', 4, 4],
 ['0, 1, 2, 4, 3', 8, 4],
 ['0, 1, 3, 2, 4', 8, 5],
 ['0, 1, 3, 4, 2', 12, 5],
 ['0, 1, 4, 2, 3', 8, 5],
 ['0, 1, 4, 3, 2', 12, 6],
 ['0, 2, 1, 3, 4', 8, 4],
 ['0, 2, 1, 4, 3', 8, 4],
 ['0, 2, 3, 1, 4', 12, 4],
 ['0, 2, 3, 4, 1', 16, 6],
 ['0, 2, 4, 1, 3', 12, 4],
 ['0, 2, 4, 3, 1', 16, 7],
 ['0, 3, 1, 2, 4', 8, 3],
 ['0, 3, 1, 4, 2', 12, 5],
 ['0, 3, 2, 1, 4', 12, 3],
 ['0, 3, 2, 4, 1', 16, 5],
 ['0, 3, 4, 1, 2', 12, 5],
 ['0, 3, 4, 2, 1', 16, 6],
 ['0, 4, 1, 2, 3', 8, 3],
 ['0, 4, 1, 3, 2', 12, 4],
 ['0, 4, 2, 1, 3', 12, 3],
 ['0, 4, 2, 3, 1', 16, 4],
 ['0, 4, 3, 1, 2', 12, 4],
 ['0, 4, 3, 2, 1', 16, 5],
 ['1, 0, 2, 3, 4', 8, 3],
 ['1, 0, 2, 4, 3', 8, 3],
 ['1, 0, 3, 2, 4', 8, 4],
 ['1, 0, 3, 4, 2', 12, 4],
 ['1, 0, 4, 2, 3', 8, 4],
 ['1, 0, 4, 3, 2', 12, 5],
 ['1, 2, 0, 3, 4', 12, 5],
 ['1, 2, 0, 4, 3', 12, 5],
 ['1, 2, 3, 0, 4', 16, 3],
 ['1, 2, 3, 4, 0', 16, 7],
 ['1, 2, 4, 0, 3', 16, 3],
 ['1, 2, 4, 3, 0', 16, 6],
 ['1, 3, 0, 2, 4', 12, 4],
 ['1, 3, 0, 4, 2', 12, 6],
 ['1, 3, 2, 0, 4', 16, 2],
 ['1, 3, 2, 4, 0', 16, 6],
 ['1, 3, 4, 0, 2', 16, 4],
 ['1, 3, 4, 2, 0', 16, 5],
 ['1, 4, 0, 2, 3', 12, 4],
 ['1, 4, 0, 3, 2', 12, 5],
 ['1, 4, 2, 0, 3', 16, 2],
 ['1, 4, 2, 3, 0', 16, 5],
 ['1, 4, 3, 0, 2', 16, 3],
 ['1, 4, 3, 2, 0', 16, 6],
 ['2, 0, 1, 3, 4', 8, 3],
 ['2, 0, 1, 4, 3', 8, 3],
 ['2, 0, 3, 1, 4', 12, 3],
 ['2, 0, 3, 4, 1', 16, 5],
 ['2, 0, 4, 1, 3', 12, 3],
 ['2, 0, 4, 3, 1', 16, 5],
 ['2, 1, 0, 3, 4', 12, 4],
 ['2, 1, 0, 4, 3', 12, 4],
 ['2, 1, 3, 0, 4', 16, 2],
 ['2, 1, 3, 4, 0', 16, 6],
 ['2, 1, 4, 0, 3', 16, 2],
 ['2, 1, 4, 3, 0', 16, 6],
 ['2, 3, 0, 1, 4', 12, 3],
 ['2, 3, 0, 4, 1', 16, 7],
 ['2, 3, 1, 0, 4', 16, 2],
 ['2, 3, 1, 4, 0', 16, 6],
 ['2, 3, 4, 0, 1', 16, 4],
 ['2, 3, 4, 1, 0', 16, 5],
 ['2, 4, 0, 1, 3', 12, 3],
 ['2, 4, 0, 3, 1', 16, 6],
 ['2, 4, 1, 0, 3', 16, 2],
 ['2, 4, 1, 3, 0', 16, 5],
 ['2, 4, 3, 0, 1', 16, 4],
 ['2, 4, 3, 1, 0', 16, 5],
 ['3, 0, 1, 2, 4', 8, 2],
 ['3, 0, 1, 4, 2', 12, 4],
 ['3, 0, 2, 1, 4', 12, 2],
 ['3, 0, 2, 4, 1', 16, 4],
 ['3, 0, 4, 1, 2', 12, 4],
 ['3, 0, 4, 2, 1', 16, 5],
 ['3, 1, 0, 2, 4', 12, 3],
 ['3, 1, 0, 4, 2', 12, 5],
 ['3, 1, 2, 0, 4', 16, 1],
 ['3, 1, 2, 4, 0', 16, 5],
 ['3, 1, 4, 0, 2', 16, 3],
 ['3, 1, 4, 2, 0', 16, 6],
 ['3, 2, 0, 1, 4', 12, 2],
 ['3, 2, 0, 4, 1', 16, 6],
 ['3, 2, 1, 0, 4', 16, 1],
 ['3, 2, 1, 4, 0', 16, 5],
 ['3, 2, 4, 0, 1', 16, 4],
 ['3, 2, 4, 1, 0', 16, 5],
 ['3, 4, 0, 1, 2', 12, 4],
 ['3, 4, 0, 2, 1', 16, 5],
 ['3, 4, 1, 0, 2', 16, 3],
 ['3, 4, 1, 2, 0', 16, 4],
 ['3, 4, 2, 0, 1', 16, 3],
 ['3, 4, 2, 1, 0', 16, 4],
 ['4, 0, 1, 2, 3', 8, 2],
 ['4, 0, 1, 3, 2', 12, 3],
 ['4, 0, 2, 1, 3', 12, 2],
 ['4, 0, 2, 3, 1', 16, 3],
 ['4, 0, 3, 1, 2', 12, 3],
 ['4, 0, 3, 2, 1', 16, 4],
 ['4, 1, 0, 2, 3', 12, 3],
 ['4, 1, 0, 3, 2', 12, 4],
 ['4, 1, 2, 0, 3', 16, 1],
 ['4, 1, 2, 3, 0', 16, 4],
 ['4, 1, 3, 0, 2', 16, 2],
 ['4, 1, 3, 2, 0', 16, 5],
 ['4, 2, 0, 1, 3', 12, 2],
 ['4, 2, 0, 3, 1', 16, 5],
 ['4, 2, 1, 0, 3', 16, 1],
 ['4, 2, 1, 3, 0', 16, 4],
 ['4, 2, 3, 0, 1', 16, 3],
 ['4, 2, 3, 1, 0', 16, 4],
 ['4, 3, 0, 1, 2', 12, 3],
 ['4, 3, 0, 2, 1', 16, 4],
 ['4, 3, 1, 0, 2', 16, 2],
 ['4, 3, 1, 2, 0', 16, 3],
 ['4, 3, 2, 0, 1', 16, 2],
 ['4, 3, 2, 1, 0', 16, 3]]

<br>

## Using Pandas

***

In [75]:
# using pandas
df = pd.DataFrame(results, columns=['list', 'bubble', 'heap'])

In [76]:
df

              list  bubble  heap
0    0, 1, 2, 3, 4       4     4
1    0, 1, 2, 4, 3       8     4
2    0, 1, 3, 2, 4       8     5
3    0, 1, 3, 4, 2      12     5
4    0, 1, 4, 2, 3       8     5
..             ...     ...   ...
115  4, 3, 0, 2, 1      16     4
116  4, 3, 1, 0, 2      16     2
117  4, 3, 1, 2, 0      16     3
118  4, 3, 2, 0, 1      16     2
119  4, 3, 2, 1, 0      16     3

[120 rows x 3 columns]

In [78]:
df.describe()

           bubble        heap
count  120.000000  120.000000
mean    13.633333    3.933333
std      2.956074    1.382564
min      4.000000    1.000000
25%     12.000000    3.000000
50%     16.000000    4.000000
75%     16.000000    5.000000
max     16.000000    7.000000